
<%= render 'layouts/messages' %>


<%= render 'module_menu' %>

<div class="row">
  <div class="small-12 columns">

    <h2> <%= t('client_callbacks')%></h2>

    <dl class="sub-nav">

      <dt>Filter:</dt>
      <dd class="<%= incoming_sub_nav_link %>">
        <%= link_to t('incoming'), managers_path %>
      </dd>
      <dd class="<%= rejected_sub_nav_link %>">
        <%= link_to t('rejected'), rejected_managers_path %>
      </dd>
      <dd class="<%= accepted_sub_nav_link %>">
        <%= link_to t('accepted'), accepted_managers_path %>
      </dd>

    </dl>

    <table>
      <thead>
      <tr>
        <td><%= t('personal_details.name') %></td>
        <td><%= t('personal_details.email') %> </td>
        <td><%= t('personal_details.country') %></td>
        <td><%= t('personal_details.phone') %></td>
        <td><%= t('personal_details.specialization') %></td>
        <td><%= t('personal_details.message') %> </td>
        <td> </td>
      </tr>
      </thead>
      <tbody id="call_backs">
      <%= render call_backs %>
      <%= paginate call_backs %>
      </tbody>

    </table>

  </div>
</div>

