<%= render 'layouts/messages' %>

<div class="manager">

  <div class="row">
    <div class="large-3 columns border-right">
      <h3> <%= @manager.user.email %> </h3>
    </div>
    <div class="large-9 columns">

      <div class="row border-bottom">
        <div class="large-12 columns profile-info">
          <h3> Personal Details </h3>
          <%= form_for @manager do |f| %>
              <%= render 'layouts/messages' %>
              <%= render 'layouts/error_messages', object: @manager %>
              <%= render 'layouts/profile/profile_password_instance', f: f, obj: :password, info_label:t('forms.auth.password') %>
              <%= render 'layouts/profile/profile_password_instance', f: f, obj: :password_confirmation, info_label:t('forms.auth.password_confirmation') %>
              <%= render 'layouts/profile/profile_password_instance', f: f, obj: :current_password, info_label:t('forms.auth.current_password') %>

              <%= f.submit t('verbs.save'), class:'button tiny success' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>