<%= render 'layouts/messages' %>

<div class="row">
  <div class="small-3 columns">
    <h2>My patients </h2>
  </div>
  <div class="small-9 columns">
    <%= link_to t('patient_module.new_patient'), new_patient_path , class:'button tiny' %>
  </div>

</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Full name</th>
          <th>Date of birth</th>
          <th>Maritial Status</th>
          <th>Email</th>
          <th>Telephone</th>
          <th>Gender</th>
          <th>Amount Due</th>
          <th>Amount Paid</th>
          <th>Balance Due</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @patients.each do |patient| %>
        <tr>
          <td><%= patient.id %></td>
          <td><%= "#{patient.firstname} #{patient.middlename} #{patient.lastname}"  %></td>
          <td><%= patient.birthday %></td>
          <td><%= patient.maritial_status %></td>
          <td><%= patient.email %></td>
          <td><%= patient.telephone %></td>
          <td><%= patient.gender %></td>
          <td><%= patient.amount_due %></td>
          <td><%= patient.amount_paid %></td>
          <td><%= (patient.amount_due - patient.amount_paid) %></td>
          <td><%= link_to (fa_icon 'eye', class:'fa-2x'), patient %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%= current_user.client.patients.present? %>

  </div>
</div>
