<%= render 'layouts/messages' %>

<div class="row">
  <div class="small-3 columns">
    <h2>Clients</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 large-12 columns">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Phone</th>
          <th>Cellphone</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %></td>
          <td><%= client.name %></td>
          <td><%= client.phone %></td>
          <td><%= client.cellphone %></td>
          <td><%= link_to (fa_icon 'eye', class:'fa-2x'), client %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <%= current_user.client.patients.present? %>

  </div>
</div>
