<div class="row medical_situation record" data-id="<%= medical_situation.id %>">
  <div class="small-12 large-12 columns">

    <div class="row">
      <div class="small-4 large-2 columns">
        <span class="pool-status">
          <% if medical_situation.doctor.present? %>

          <% elsif medical_situation.inPool %>
            <h4 class="in-pool"><%= t('in_pool') %></h4>
          <% else %>
              <h4 class="not-in-pool"><%= t('not_in_pool') %></h4>
          <% end %>
          <%= link_to (fa_icon 'eye', class:'fa-2x'), medical_situation %>
        </span>
      </div>
      <div class="small-8 large-10 columns">
        <span class="price_and_assigned_doctor">
          <%= render 'medical_situations/price', medical_situation: medical_situation %>
        </span>
        &nbsp;

        <span class="heading"><%= t('personal_details.specialization') %></span>
        <span> <%= medical_situation.specialization.name%></span>
        <span>
          <%= render 'doctors/medical_situation_actions', medical_situation: medical_situation %>
        </span>
        <span class="fr heading">date opened: <%= medical_situation.created_at.to_date %></span></br>
        <span class="fr heading">ID: <%= medical_situation.id %></span>
      </div>
    </div>

    <br>
    <div class="row">
      <!-- load patient name only in managers module-->
      <div class="large-2 columns <%= medical_situation_class %>">
        <span class="heading"><%= t('patient_module.patient')%></span>
      </div>
      <div class="large-2 columns <%= medical_situation_class %>">
        <span class="patient_name"> <%= medical_situation.patient.firstname + ' ' + medical_situation.patient.lastname %></span>
      </div>
      <div class="large-8 columns">
        <% if medical_situation_class=='show' %>

            <%= form_for medical_situation, {url: :send_to_pool_medical_situations, method: :post, remote:true} do |f| %>
               <%= f.hidden_field :medical_situation_id, value: medical_situation.id %>
               <%= f.hidden_field :manager_sets_fee_attr, value:true %>

              <div class="row">

                <div class="large-3 columns">
                  <%= f.number_field :fee, {placeholder: t('verbs.set_fee'),required:true } %>
                </div>

                <div class="large-4 columns">
                  <span data-tooltip aria-haspopup="true" class="has-tip tip-top" title="<%= t('assign_doctor_tooltip')%>">
                    <%= f.select :doctor_id, options_from_collection_for_select(@doctors, 'id', 'name', selected: (medical_situation.doctor.id if medical_situation.doctor.present?) ),
                                 {multiple: false, include_blank:t('assign_to_doctor')},
                                 class:'assign-doctor' %>
                  </span>
                </div>

                <div class="large-5 columns">
                  <% if medical_situation.inPool %>
                      <%= f.submit t('verbs.update'), { class: 'button tiny warning send_to_pool'} %>
                  <% else %>
                      <%= f.submit t('send_to_pool'), { class: 'button tiny success send_to_pool'} %>
                  <% end %>
                </div>

              </div>

          <% end %>

        <% end %>
      </div>



    </div>


    <div class="row">
      <div class="small-3 large-2 columns">
        <span class="heading"><%= t('patient_module.medical_history.reason') %></span>
      </div>
      <div class="small-9 large-10 columns">
        <span class="reason"><%= medical_situation.reason %></span>
      </div>
    </div>

    <div class="row">

      <div class="small-4 large-4 columns">
        <h4 class="headings"><%= "#{t('nouns.plural.medications')} #{t('verbs.taking')}" %></h4>
        <% if medical_situation.medications.present? %>
            <ul>
              <% medical_situation.medications.each do |medication| %>
                  <li>
                    <span class="heading"><%= t('nouns.singular.medication')%>:</span> <%= medication.name %><br>
                    <span class="heading"><%= t('patient_module.medical_history.medication.dose')%>:</span> <%= medication.dose %> |
                    <span class="heading"><%= t('patient_module.medical_history.medication.frequency')%>:</span> <%= medication.per_day %> <%= t('patient_module.medical_history.medication.times') %><br>
                    <span class="heading"><%= t('patient_module.medical_history.other')%>:</span> <%= medication.other %>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>

      <div class="small-4 large-4 columns">
        <h4 class="headings"><%= t('nouns.plural.lab_tests')%></h4>
        <% if medical_situation.lab_tests.present? %>
            <ul>
              <% medical_situation.lab_tests.each do |lab_test| %>
                  <li>
                    <span class="heading"><%= t('personal_details.name')%>:</span> <%= lab_test.name %> <br>
                    <span class="heading"><%= t('nouns.singular.description')%>:</span> <%= lab_test.description %><br>
                    <span class="heading"><%= t('file')%></span> <%= link_to t('open'), lab_test.file.url, {target:'_blank'} %>
                  </li>
              <% end %>
        <% end %>
            </ul>
      </div>

      <div class="small-4 large-4 columns">
        <h4 class="headings"><%= t('nouns.plural.other_documents')%></h4>
        <% if medical_situation.other_documents.present? %>
            <ul>
              <% medical_situation.other_documents.each do |other_document| %>
                  <li>
                    <span class="heading"><%= t('personal_details.name')%>:</span> <%= other_document.name %><br>
                    <span class="heading"><%= t('nouns.singular.description')%></span> <%= other_document.description %><br>
                    <span class="heading"><%= t('file')%>: </span> <%=link_to t('open'), other_document.file.url %>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </div>

    </div>

  </div>
</div>
