<table width="100%">
  <% if medical_situation_reports.present? %>
    <tr><th><%= t('reports') %></th></tr>
    <tr>
      <th><%= t('report') %></th>
      <th><%= t('description') %></th>
      <th><%= t('date_submitted') %></th>
    </tr>
    <% medical_situation_reports.each do |report| %>
      <tr>
        <td><%= link_to report.name, report.file.url, {target:'_blank'} %></td>
        <td><%= report.description %></td>
        <td><%= report.created_at.strftime("%Y-%m-%d, %I:%M") %></td>
      </tr>
    <% end %>
  <% else %>
    <tr><td><%= t('nouns.singular.no') + ' ' + t('reports')  %></td></tr>
  <% end %>
</table>