<div class="nested-fields">

  <%= render 'layouts/text_field',form_builder: f,obj: :name, form_label:t('patient_module.medical_history.medication.medication_name'),
             form_placeholder:t('patient_module.medical_history.medication.medication_name') %>

  <%= render 'layouts/text_field',form_builder: f,obj: :dose, form_label:t('patient_module.medical_history.medication.dose'),
             form_placeholder:t('patient_module.medical_history.medication.placeholders.dose') %>

  <%= render 'layouts/text_field',form_builder: f,obj: :per_day, form_label:t('patient_module.medical_history.medication.per_day'),
             form_placeholder:t('patient_module.medical_history.medication.placeholders.per_day') %>

  <%= render 'layouts/text_field',form_builder: f,obj: :other, form_label:t('patient_module.medical_history.other'),
             form_placeholder:t('patient_module.medical_history.medication.placeholders.any_other') %>

  <h4><%= link_to_remove_association '', f, class:'grey fa fa-trash' %></h4>

</div>
