<%= render 'layouts/messages' %>
<div class="patient">

<div class="row profile">
  <h2> Personal Details </h2>
  <!-- Profile image -->
  <div class="small-3 large-3 columns">
    Personal profile image ???
  </div>

  <!-- Profile short information -->
  <div class="small-9 large-9 columns">

    <div class="row profile-info">

      <div class="small-8 large-8 columns">
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.firstname'), value: @patient.firstname %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.lastname'), value:@patient.lastname %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.middlename'), value:@patient.middlename %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.date_of_birth'), value:@patient.birthday %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.maritial_status'), value:@patient.maritial_status %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.gender'), value:@patient.print_gender %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.telephone'), value:@patient.telephone %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.cellphone'), value:@patient.cellphone %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.emergency_person'), value:@patient.emergency_person %>
        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.emergency_person_phone'), value:@patient.emergency_person_phone %>
      </div>

      <div class="small-4 large-4 columns">

      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="small-3 large-3 columns medical-history">
      <h3 class="headings">Allergies</h3>
      <%= react_component('AllergyBox', {url_get: allergies_patients_path,
                                         url_post: create_allergy_patients_path,
                                         url_delete: delete_allergy_patients_path,
                                          patient_id: @patient.id}) %>

      <h3 class="headings">Diseases</h3>
      <%= react_component('DiseaseBox',{
          url_get: diseases_patients_path,
          url_post: create_disease_patients_path,
          url_delete: delete_disease_patients_path,
          patient_id: @patient.id
      }) %>

    </div>

    <div class="small-9 large-9 columns">

      <div class="row">
        <div class="small-12 large-12 columns">
          <span><%= link_to 'New Medical Situation', '#',class:'button success tiny', id:'new_med_situation_btn' %>
          </span>
          <%= render 'medical_situation_form' %>
        </div>
      </div>


        <% @medical_situations.each do |medical_situation| %>
          <div class="row medical_situation">
            <div class="small-12 large-12 columns">

              <div class="row">
                <div class="small-3 large-3 columns">
                  <h4><%= t('patient_module.medical_history.reason') %></h4>
                </div>
                <div class="small-9 large-9 columns">
                  <%= medical_situation.reason %>
                </div>
              </div>

              <div class="row">

                <div class="small-4 large-4 columns">
                  <h4><%= "#{t('nouns.plural.medications')} #{t('verbs.taking')}" %></h4>
                  <% if medical_situation.medications.present? %>
                      <% medical_situation.medications.each do |medication| %>
                          medication: <%= medication.name %>
                          dose: <%= medication.dose %>
                          per day: <%= medication.per_day %>
                          other: <%= medication.other %>
                      <% end %>
                  <% end %>
                </div>

                <div class="small-4 large-4 columns">
                  <h4><%= t('nouns.plural.lab_tests')%></h4>
                  <% if medical_situation.lab_tests.present? %>
                      <% medical_situation.lab_tests.each do |lab_test| %>
                          lab test: <%= lab_test.name %>
                          description: <%= lab_test.description %>
                          file: <%= lab_test.file.url %>
                      <% end %>
                  <% end %>
                </div>

                <div class="small-4 large-4 columns">
                  <h4><%= t('nouns.plural.other_documents')%></h4>
                </div>

              </div>

            </div>
          </div>

        <% end %>



    </div>
</div>

</div>