<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Second Opinion</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>About Us</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="active"><a href="#">Prices</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li><a href="#">How It Works</a></li>
      <li><a href="#">Services We Provide</a></li>
      <li><a href="#">Doctors On Board</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </section>
</nav>


<div id="client-callback" class="callback-hidden">

  <div id="form-header">
      I want to be Client
  </div>

<div id="client-callback-form">

    <%=form_for(@client_call_back,{url:call_backs_path,method: :post,remote:true}) do |f| %>

      <%= render 'text_field', { form_builder: f, obj: :name, form_label: t('personal_details.name'), form_placeholder: t('dummy_placeholder.name') } %>

      <div class="row collapse prefix-radius">
        <div class="small-3 columns">
            <span class="prefix">
                 <%= t('personal_details.country') %>
            </span>
        </div>
        <div class="small-9 columns">
          <%= f.country_select :country, include_blank: t('forms.not_chosen') %>
        </div>
      </div>

      <%= render 'text_field', { form_builder: f, obj: :phone, form_label: t('personal_details.phone'), form_placeholder: t('dummy_placeholder.phone') } %>

      <%= render 'select_field', {form_builder: f, obj: :language, options: Language.all.collect{|p| [p.name,p.code]}, form_label: t('personal_details.language')} %>

      <%= render 'text_field', { form_builder: f, obj: :email, form_label: t('personal_details.email'), form_placeholder: t('dummy_placeholder.email') } %>

      <%= render 'select_field', {form_builder: f, obj: :specialization, options: Specialization.all.collect{|p| [p.name,p.name]}, form_label: t('personal_details.specialization')} %>

      <%= f.text_area :message, {placeholder: t('personal_details.message'),class:'input-field'} %>

      <div class="checkbox">
        <%= f.check_box :didAgree %> <%= t('personal_details.i_agree_to')%> <%= link_to( t('personal_details.terms_of_use'),'#') %>
      </div>


        <div class="row">
          <div class="small-5 columns">
            some code
          </div>
          <div class="small-7 columns">
            <%= f.text_field :code, {placeholder:'Code'}%>
          </div>
        </div>

        <%= f.submit( t('personal_details.request_call_back'), class:'button success expand') %>

    <% end %>

</div>

</div>

</body>
</html>