<%= render 'layouts/messages' %>

<div class="row">
  <div class="large-offset-3 large-6 columns form">
    <h3><%= t('Leave Callback')%></h3>

    <%= form_for @callback, url: 'send_resume', html: { multipart: true } do |f| %>
        <%= render 'layouts/error_messages', object: @callback %>
        <%= render 'layouts/messages' %>
        <%= render 'layouts/text_field', obj: :name, form_label: t('personal_details.name'), form_builder: f, form_placeholder: t('dummy_placeholder.name') %>
        <%= render 'layouts/text_field', obj: :email, form_label: t('personal_details.email'), form_builder: f, form_placeholder: t('dummy_placeholder.email') %>

        <%= f.label t('resume') %>
        <%= f.file_field :resume, accept: 'application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document' %>
        <%= f.hidden_field :resume_cache %>

        <%= f.submit t('forms.submit'), class:'button tiny success' %>
    <% end %>

  </div>
</div>