<tr>
  <td><%= doctor.name %> </td>
  <td><%= doctor.email %> </td>
  <td><%= doctor.address %></td>
  <td><%= doctor.phone_number %></td>
  <td>
    <%= link_to (fa_icon 'eye',class:'fa-2x'), doctor %>
  </td>
</tr>