<%= render 'layouts/messages' %>

<div class="doctor">
  <div class="row">
    <div class="large-3 columns border-right">
      <h3> <%= @doctor.name %> </h3>
    </div>
    <div class="large-9 columns">

      <div class="row border-bottom">
        <div class="large-12 columns profile-info">
          <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#panel1">Personal Details</a></li>
            <li class="tab-title"><a href="#panel2">Password</a></li>
          </ul>
          <div class="tabs-content">
            <div class="content active" id="panel1">
              <%= form_for @doctor, url: doctor_path, html: { multipart: true } do |f| %>
                  <%= render 'layouts/error_messages', object: @doctor %>
                  <div class="row">
                    <div class="small-8 columns">
                      <div class="row">
                        <div class="small-3 columns">
                          <label class="inline">Photo</label>
                        </div>
                        <div class="small-9 columns">
                          <div class="row">
                            <div class="th">
                              <%= image_tag @doctor.avatar.url(:medium) %>
                            </div>
                          </div>
                          <br />
                          <%= f.file_field :avatar %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <%= render 'layouts/profile/profile_info_instance_edit', f: f, obj: :name, info_label:t('personal_details.name') %>
                  <%= render 'layouts/profile/profile_info_instance_edit', f: f, obj: :phone_number, info_label:t('personal_details.phone_number') %>
                  <%= render 'layouts/profile/profile_info_instance_edit', f: f, obj: :emergency_phone, info_label:t('personal_details.emergency_phone') %>
                  <%= render 'layouts/profile/profile_info_instance_edit', f: f, obj: :address, info_label:t('personal_details.address') %>
                  <%= render 'layouts/profile/profile_info_instance_edit', f: f, obj: :city, info_label:t('personal_details.city') %>
                  <%= render 'layouts/profile/profile_info_instance_edit', f: f, obj: :state, info_label:t('personal_details.state') %>
                  <%= render 'layouts/profile/profile_info_instance_edit', f: f, obj: :zipcode, info_label:t('personal_details.zipcode') %>
                  <%= render 'layouts/profile/profile_info_instance_edit', f: f, obj: :country, info_label:t('personal_details.country') %>

                  <%= f.submit t('verbs.save'), class:'button tiny success' %>
              <% end %>
            </div>
            <div class="content" id="panel2">
              <h3> Change Password </h3>
              <%= form_for @doctor do |f| %>
                  <%= render 'layouts/error_messages', object: @user %>
                  <%= render 'layouts/profile/profile_password_instance', f: f, obj: :password, info_label:t('forms.auth.password') %>
                  <%= render 'layouts/profile/profile_password_instance', f: f, obj: :password_confirmation, info_label:t('forms.auth.password_confirmation') %>
                  <%= render 'layouts/profile/profile_password_instance', f: f, obj: :current_password, info_label:t('forms.auth.current_password') %>

                  <%= f.submit t('verbs.save'), class:'button tiny success' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>