<%= render 'layouts/messages' %>

<div class="doctor">
	<div class="row">
		<div class="large-3 columns border-right">
			<h3 class="headings"><%= t('TODO')%> </h3>
		</div>

		<div class="large-9 columns">
      <!-- BEGIN PERSONAL DETAILS -->
      <div class="row border-bottom">
	      <div class="large-12 columns profile-info">
	        <h3> Personal Details </h3>
	        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.name'), value: @doctor.name %>
	        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.email'), value: @doctor.email %>
	        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.phone_number'), value: @doctor.phone_number %>
	        <%= render 'layouts/profile/profile_info_instance', info_label:t('personal_details.address'), value: @doctor.address %>
	        <div class="row info-instance">
					  <div class="small-6 large-6 columns ">
					    Resume
					  </div>
					  <div class="small-6 large-6 columns ">
					    <%= link_to t('open'), @doctor.resume.url, {target:'_blank'} %>
					  </div>
					  <div class="small-6 large-6 columns">
					  	<% if can? :update_resume, @doctor %>
                  <a href="#" data-reveal-id="resume-form" data-reveal class="button tiny"><%= t('update') %></a>
              <% end %>
	       		</div>
					</div>
	      </div>
	    </div><!-- END PERSONAL DETAILS -->
  		<div id="resume-form" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    		<h3> Update Your Resume </h3>
	    	<%= form_for @doctor, :method => :patch, url: :update_resume_doctor do |f| %>
		    	<%= render 'layouts/error_messages', object: @doctor %>
	        <%= f.file_field :resume, accept: 'application/msword,application/pdf,application/vnd.openxmlformats-officedocument.wordprocessingml.document',
              required: true %>
	        <%= f.hidden_field :resume_cache %>

	        <%= f.submit t('forms.submit'), class:'button tiny success' %>
	        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
	    	<% end %>
	    </div> 

      <br/>
      <!-- BEGIN MEDICAL SITUATIONS -->
      <div class="row">
        <div class="small-12 large-12 columns">
          <%= render @medical_situations %>
        </div>
      </div><!-- END MEDICAL SITUATIONS -->

	  </div>
	</div>
</div>