<tr>
  <td><%= call_back.name %></td>
  <td><%= call_back.email %></td>
  <td><%= call_back.country %></td>
  <td><%= call_back.phone %></td>
  <td><%= call_back.specialization %></td>
  <td><%= call_back.message %> </td>
  <td>
    <%= link_to (fa_icon 'eye',class:'fa-2x'), call_back %>
  </td>
</tr>
